---
import { Icon } from 'astro-icon/components';

import Link from '@/components/Link.astro';
import { CONFIG_CLIENT } from '@/config/client';

const { AUTHOR_LINKEDIN, AUTHOR_GITHUB } = CONFIG_CLIENT;

// footer is full width for border, div has max-w
---

<footer class="border-t border-base-300 py-8 px-4">
  <div class="max-w-6xl md:mx-auto flex justify-center md:justify-start">
    <div class="flex justify-between gap-4 flex-col-reverse md:flex-row md:w-full">
      <!-- right column -->
      <ul class="flex gap-2 flex-wrap xs:flex-nowrap lg:items-center">
        <li>
          <Link
            href={AUTHOR_GITHUB}
            target="_blank"
            rel="me noreferrer noopener"
            title="@nemanjam on Github"
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:github" class="h-6 w-6 fill-current" />
            <span>Github</span>
          </Link>
        </li>
        <li>
          <Link
            href={AUTHOR_LINKEDIN}
            target="_blank"
            rel="me noreferrer noopener"
            title="Nemanja on LinkedIn"
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:linkedin" class="h-6 w-6 fill-current" />
            <span>LinkedIn</span>
          </Link>
        </li>
      </ul>
    </div>
  </div>
</footer>
